<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/mockups/css/styles.css">
	<title>MicroBlog</title>
</head>
<body>
    <form action="/users" method="POST">
        <input type="text" name="username">
        <input type="email" name="email">
        <input type="submit" name="submit">
    </form>
</body>
</html>