<div class="container">
    <div class="row">
        <form action="/posts" method="POST">
            <div class="create-post">
                <input type="text" name="content" class="form-control">
            </div>
        </form>
        <input type="submit" name="submit">
    </div>
	<div class="row">
		<% @posts.each do |p| %>
    		<div class="col-md-3 col-md-offset-1 home-posts box-shadow">
    		    	<h4><%= p.user.username %></h4>
    		        <p><%= p.content %></p>
    		</div>
		<% end %>
	</div>
</div>
