<div class="container">
	<div class="row">
		<div class="col-md-4">
			<img src="http://placehold.it/250x250" class="img-responsive img-rounded" alt="responsive profile image">
			<h2><%= @user.name %></h2>

<!-- 			if current user is following this user show unfollow button
			else
			show follow button -->
			
			<form action="/users/<%= @user.id %>/follow" method="POST">
				<input id="follow-btn" class="btn btn-default btn-sm" type="submit" value="Follow">
			</form>

			<form action="/users/<%= @user.id %>/follow" method="POST">
				<input type="hidden" name="_method" value="DELETE" />
				<input class="btn btn-warning btn-sm" type="submit" value="Unfollow">
			</form>

			<p id="profileBio">Bio: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate perspiciatis nam facilis aperiam fuga itaque incidunt delectus, reprehenderit veniam ratione minima, possimus voluptas aliquid sed temporibus, excepturi, modi voluptatibus. Adipisci.</p>
			<button type="button" id="editProfileBtn" class="btn btn-sm btn-info">Edit Profile</button>
		</div>

		<div class="col-md-8">
		<textarea class="form-control" id="postBodyForm" rows="6"></textarea>
		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<h1>User's Posts Go here</h1>
		</div>
	</div>
</div>