<div class="form">
    <h1>Please Register</h1>
    <form method="post" action="/users">
        <input type="text" name="name" placeholder="Your Name" class="form-control" required>
        <br />
        <input type="text" name="username" placeholder="Username" class="form-control" required>
        <br />
        <input type="password" name="password" placeholder="Password" class="form-control" required>
        <br />
        <input type="email" name="email" placeholder="Email Address" class="form-control" required>
        <br>
        <textarea name="bio" placeholder="Bio" class="form-control"></textarea>
        <br />
        <label class="btn btn-default btn-file">
            Upload Photo <input type="file" name="photo" style="display: none;">
        </label>
        <br />
        <br />
        <input type="submit" value="Submit" id="submitButton" class="btn btn-primary">
    </form>
</div>