body {
    font-family: 'Josefin Slab', serif;
    background-color: #ffebc0;
}

#nav {
    height:  170px;
    background-color: #ffb732;
    border: none;
}

#goat img {
    width: 400px;
}

.navbar {
    position: relative;
}

.navbar a:visited,
.navbar a:active {
    color: #000;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #ffd27f;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:visited {
    background-color: orange;
}

.navbar-default .navbar-nav>li>a,
 .navbar-default .navbar-nav>li>a:focus,
 .navbar-default .navbar-nav>li>a:active,
 .navbar-default .navbar-nav>li>a:visited {
    color: #000;
}

 .navbar-default .navbar-nav>li>a:hover {
    color: #ff0080;
 }


.navbar .navbar-collapse {
    position: absolute;
    left: 420px;
    bottom: 0;
}

#dropmenu:hover,
#dropmenu:focus,
#dropmenu:active {
    background-color:  orange;
}

#anotherdrop:hover,
#anotherdrop:focus,
#anotherdrop:active {
    background-color: orange;
}

.navButton {
    font-size: 25px;
    color: #000;
}

#registerForm {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    padding: 50px;
}

#site-footer {
    font-size: 17px;
    color: white;
    padding-right: 100px;
    padding-top: 40px;
    background: #333;
}

.im-centered {
    margin-left: 10%;
}

#site-footer {
    margin-top: 15px;
    min-height: 150px;
    padding-left: 430px;
}

.fa {
        font-size: 40px;
 }

a {
   color: #f48042 ;
   text-decoration: none;
}

a:focus, a:hover {
   color: white;
}

.fa-facebook {
    margin-right: 15px;
}

.fa-twitter {
    margin-right: 15px;
}

.fa-paypal {
    margin-right: 15px;

}

#bottomstrip {
    width: 100%;
    height: 40px;
    background-color: #ffb732 ;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

#submitButton {
    background-color: #ff0080;
    font-size: 20px;
}

#main {
    padding-top: 100px;
    min-height: 380px;
}