<div class="contaner">
	<div class="row">
		<div class="col-md-4">
			<h3>Username</h3>
			<p>Post : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam doloribus, officiis illum nisi cumque dolorem voluptatum accusamus porro reprehenderit debitis aperiam, voluptate fugit perferendis cupiditate necessitatibus, modi tempora nemo. Impedit.</p>
		</div>
	</div>
</div>

