<ul>
	<li><a href="/mockups/edit-account.php">Edit Account</a></li>
	<li><a href="/editAccount.html">Hello</a></li>
	<li><a href="/homeLoggedIn.html">adsfda</a></li>
	<li><a href="/homeLoggedOut.html">adsfdfas</a></li>
	<li><a href="/login.html">sadfads</a></li>
	<li><a href="/register.html">asdfads</a></li>
</ul>

