<ul>
	<li><a href="/mockups/edit-account">Edit Account</a></li>
	<li><a href="/mockups/home-logged-in">Logged In</a></li>
	<li><a href="/mockups/home-logged-out">Logged Out</a></li>
	<li><a href="/mockups/login">Log In</a></li>
	<li><a href="/mockups/register">Register</a></li>
	<li><a href="/mockups/profile">Profile</a></li>
	<li><a href="/mockups/profile-unfollow">Unfollow</a></li>
</ul>

