<div class="form">
	<h1>Sign In Below</h1>
	<form>
    	<input type="text" name="username" placeholder="Username" class="form-control">
    	<br />
		<input type="password" name="password" placeholder="Password" class="form-control">
		<br />
		<input type="submit" value="Submit" id="submitButton" class="btn btn-primary">
	</form>
</div>